body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial;
    margin: 15px;
}

.titulo {
    color: #00ff66;
    text-align: center;
    text-shadow: 2px 2px #00ff66; 
}

.quadrado {
    width: 290px;
    height: 290px;
    background-color: #00ff66;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 4px 4px 10px #00ff66;
}

.bloco {
    background-color: #222222;
    border: 1px solid #00ff66;
    padding: 12px;
    margin-bottom: 20px;
}

.col-1 {
    float: left;
    width: 23%;
}

.col-2 {
    float: left;
    width: 50%;
    text-align: center;
}

.col-3 {
    float: left;
    width: 23%;
}

button {
    background: #00ff66;
    color: #000;
    border: none;
    padding: 4px;
    margin: 2px;
    cursor: pointer;
}

#campo-busca {
    width: 55%;
}

#tela-do-jogo {
    width: 100%;
    height: 95px;
    background: black;
    position: relative;
    margin-top: 5px;
    display: none;
}

#boneco {
    width: 14px;
    height: 14px;
    background: #00ff66;
    position: absolute;
    bottom: 0px;
    left: 8px;
}

.obstacle {
    background: #00ff66;
    position: absolute;
    bottom: 0px;
    width: 12px;
    height: 18px;
}

.bloco h3 {
    cursor: move;
}